<section aria-labelledby="timeline-title">
  <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
    <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Matchup Summary</h2>

    <!-- Activity Feed -->
    <div class="mt-6 flow-root">
      <ul role="list" class="-mb-8">
        <li *ngFor="let matchup of matchups; let i = index">
          <div class="relative pb-8">
            <div class="relative flex space-x-3">
              <div>
                <span
                  class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
                >
                  <!-- Heroicon name: solid/user -->
                  <svg
                    class="w-5 h-5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                <div>
                  <p class="text-sm text-gray-500">
                    Applied to
                    <a href="#" class="font-medium text-gray-900">Front End Developer</a>
                  </p>
                </div>
                <div class="text-right text-sm whitespace-nowrap text-gray-500">
                  <time datetime="2020-09-20">Sep 20</time>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
