<div [@parent] class="w-full h-full relative">
  <div
    *ngIf="!formView && !activeTournament; else content"
    class="absolute h-max w-max left-0 right-0 flex flex-col justify-center h-full py-10 lg:w-1/2 w-2/3 m-auto top-0"
    [@listSlide]
  >
    <div class="flex flex-row gap-4 w-full items-center">
      <h1 class="text-xl sm:text-3xl text-slate-800">Active Tournaments</h1>
      <button
        type="button"
        class="rounded-full bg-bti-orange-800 p-1 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-bti-orange-1000"
        (click)="toggleForm()"
      >
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
          />
        </svg>
      </button>
    </div>
    <ul role="list" class="mt-4 sm:mt-8 flex flex-col gap-2 sm:gap-8">
      <li *ngFor="let tournament of tournaments$ | async">
        <tournament-card
          [tournament]="tournament"
          [currentPlayer]="currentPlayer"
          (joinTournamentEmitter)="joinTournament($event)"
          (tournamentViewEmitter)="viewTournament($event)"
          class="cursor-pointer"
        ></tournament-card>
      </li>
    </ul>
  </div>
  <ng-template #content id="content">
    <div *ngIf="activeTournament; else form">
      {{ activeTournament.name }}
    </div>
  </ng-template>
  <ng-template #form>
    <div
      [@contentSlide]
      class="absolute h-max left-0 right-0 flex flex-col justify-center h-full py-10 lg:w-1/2 w-2/3 m-auto top-0"
    >
      <div class="flex flex-row gap-16">
        <div class="flex align-start p-1">
          <button
            type="button"
            class="rounded-full transparent text-slate-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 h-max"
            (click)="toggleForm()"
          >
            <fa-icon [icon]="faArrowLeft" size="lg"></fa-icon>
          </button>
        </div>
        <tournament-form (createEmitter)="createTournament($event)"></tournament-form>
      </div>
    </div>
  </ng-template>
</div>
