<div class="mt-8 mx-auto grid grid-cols-1 lg:w-4/5">
  <div
    class="shadow sm:rounded-xl grid grid-cols-10 p-4"
    [ngClass]="currentPlayer.id === match.winnerId ? 'bg-blue-200' : 'bg-red-200'"
  >
    <div class="grid grid-rcols-1 col-start-1 col-span-2 justify-items-start content-center">
      <div
        class="text-2xl"
        [ngClass]="currentPlayer.id === match.winnerId ? 'text-blue-800' : 'text-red-800'"
      >
        {{ currentPlayer.id === match.winnerId ? 'WIN' : 'LOSS' }}
      </div>
      <div class="text-slate-400 justify-items-end">
        {{ match.date | formatDate }}
      </div>
    </div>
    <div class="grid grid-cols-1 col-start-3 col-span-4 justify-items-start content-center mr-8">
      <div>
        <player-profile [player]="opponent" [navigationEnabled]="true"></player-profile>
      </div>
      <div></div>
    </div>
    <div
      class="grid grid-cols-3 justify-items-center col-start-7 col-span-2 content-center text-3xl"
    >
      <div class="text-blue-800">{{ match.winnerScore }}</div>
      <div class="text-slate-800">-</div>
      <div class="text-red-800">{{ match.loserScore }}</div>
    </div>
    <div
      *ngIf="
        match?.winnerStartElo && match?.winnerEndElo && match?.loserStartElo && match?.loserEndElo
      "
      class="grid grid-cols-1 col-start-10 col-span-1 justify-items-end content-center"
    >
      <div class="text-2xl">
        {{ currentPlayer.id === match.winnerId ? match.winnerEndElo : match.loserEndElo }}
      </div>
      <div
        class="text-slate-400 lg:text-base md:text-sm sm:text-sm"
        [ngClass]="currentPlayer.id === match.winnerId ? 'text-blue-800' : 'text-red-800'"
      >
        (<fa-icon
          [icon]="currentPlayer.id === match.winnerId ? faArrowTrendUp : faArrowTrendDown"
          class="mr-1"
        ></fa-icon>
        {{
          (currentPlayer.id === match.winnerId
            ? (match?.winnerEndElo || 0) - (match?.winnerStartElo || 0)
            : (match?.loserStartElo || 0) - (match?.loserEndElo || 0)
          ).toFixed(1)
        }})
      </div>
    </div>
  </div>
</div>
