<div
  *ngIf="player"
  class="player-profile flex"
  [ngClass]="{ 'rounded-2xl overflow-hidden shadow-lg bg-white p-4 w-full': cardView }"
>
  <img
    class="inline w-16 h-16 mr-2 rounded-full"
    referrerpolicy="no-referrer"
    src="{{ player.photoUrl }}"
    alt="Profile image"
  />
  <div class="flex flex-col justify-center">
    <div
      class="text-2xl mb-2 text-slate-600"
      [ngClass]="{
        'hover:text-slate-500 hover:cursor-pointer active:text-bti-orange-400': navigationEnabled
      }"
      (click)="navigateToStatsPageForPlayer(player)"
    >
      {{ player.name }}
    </div>
    <div *ngIf="player.nickName" class="text-base text-slate-400">"{{ player.nickName }}"</div>
  </div>
</div>
