<div
  *ngIf="player"
  class="player-profile flex relative"
  [ngClass]="{ 'rounded-2xl overflow-hidden shadow-lg bg-white p-4 w-full': cardView }"
>
  <fa-icon *ngIf="player.champion" [icon]="faCrown" class="text-2xl text-yellow-600 absolute top-[-1.25rem] left-5"></fa-icon>
  <img
    class="inline w-8 h-8 sm:w-16 sm:h-16 mr-2"
    referrerpolicy="no-referrer"
    src="{{ player.photoUrl ?? '../../../assets/user_icon.png' }}"
    alt="Profile image"
    [ngClass]="{ 'rounded-full': player.photoUrl, 'brightness-50 opacity-50': player.decaying }"
    data-tooltip-target="tooltip-default"
  />
  <div
    id="tooltip-default"
    role="tooltip"
    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Tooltip content
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  <div *ngIf="player.decaying" class="zzz zzz-zzz">Z</div>
  <div *ngIf="player.decaying" class="zzz zzz-zz">Z</div>
  <div *ngIf="player.decaying" class="zzz zzz-z">Z</div>
  <div class="flex flex-col justify-center">
    <div
      class="text-lg sm:text-2xl mb-1 text-slate-600 relative"
      [ngClass]="{
        'hover:text-slate-500 hover:cursor-pointer active:text-bti-orange-400': navigationEnabled
      }"
      (click)="navigateToStatsPageForPlayer()"
    >
      {{ player.name }}
    </div>
    <div *ngIf="player.nickName" class="text-base text-slate-400">
      "{{
        player?.nickName.length > 50 ? (player?.nickName | slice: 0:50) + '...' : player?.nickName
      }}"
    </div>
  </div>
</div>
