<section aria-labelledby="applicant-information-title">
  <div class="bg-white shadow sm:rounded-lg x-">
    <div class="px-4 py-5 sm:px-6">
      <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
        Rating Over Last 10 Games
      </h2>
    </div>
    <div
      *ngIf="!noRatedMatches; else noRatedMatches"
      id="elo-graph"
      class="border-t border-gray-200 px-4 py-5 sm:px-6"
    ></div>
    <ng-template #noRatedMatches>
      <div class="text-slate-400 flex justify-center pb-6 min-h-full">Please play a game to start tracking your rating.</div>
    </ng-template>
  </div>
</section>
