<div
  id="canvas"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity backdrop-blur-md"></div>
  <div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center h-full pt-4 px-4 pb-20 text-center sm:block sm:p-0">
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-gray-900 px-6 py-12 shadow sm:rounded-lg sm:px-12">

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class=" text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in</h2>
  </div>
        <div class="mt-6 grid grid-cols-2 gap-4 flex justify-center items-center">
          <img src="../../../../assets/btn_google_signin_light_normal_web.png" alt="Downloadable &quot;Sign in with Microsoft&quot; button dark theme SVG" data-linktype="relative-path" (click)="loginWithGoogle()">
          <img src="https://learn.microsoft.com/en-us/azure/active-directory/develop/media/howto-add-branding-in-azure-ad-apps/ms-symbollockup_signin_light.svg" alt="Downloadable &quot;Sign in with Microsoft&quot; button dark theme SVG" data-linktype="relative-path" (click)="loginWithMicrosoft()">
        </div>
      </div>
    </div>
  </div>
</div> 
    </div>
  </div>
